extends layout.pug

block content
  h2.title.is-1= title
  form(action='/add-workout' method='post')
    div
      button.button.is-link.is-light.is-small Add Exercises
      //- label Add Exercise
      //- select(name="name")
      //-   each exercise in exercises
      //-     option(value=exercise.id)= exercise.name
    br
    div
      a.button.is-danger.is-small.is-light(href="/") Cancel Workout
